<h3 class=" p-3 mb-2 bg-warning text-dark text-center ">Todos</h3>
<section class="vh-100" style="background-color: #111011c0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
    
    <div class="container">
        <h1 class="text-center">Contact Me</h1>
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Name</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

              
              
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submitt</button>
            </div>
          </form><br>
        <div class="contact-info">
            <p>Alternatively, you can reach me at:</p>
            <p>Email: <a href="mailto:limanima20022003@gmail.com">limanima20022003gmail.com</a></p>
            <p>Phone: <a href="tel:+1234567890">9072893571</a></p>
        </div>
    </div>
